body{
    background-color: chartreuse;
    
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
    background-color: lightgreen;
    line-height: 2;
}
#show_sketch{
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 60px;
}
p{
    font-size: 20px;
    color: crimson;
    font-weight: bold;
}
canvas{
    border: 2px;
    border-radius: 25px;
    margin-top: 60px;
    animation-name:example ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 5px 5px 40px rgb(42, 11, 240);}
    to{box-shadow: 5px 5px 40px red;}
}
